.sb-row {
  margin: 15rem 0;
}

.mb-sm-5 {
  @include breakpoint-down(sm) {
    margin-bottom: 5rem;
  }
}

.hide-on-md {
  display: none;
}

.hide-on-sm {
  @include breakpoint-down(sm) {
    display: none;
  }
}
