body{
  color: var(--bs-text-color);
}
a{
  text-decoration: none;
}
h4 {
  font-size: 2.5rem;
  font-weight: bold;
}
p{
  font-weight: normal;
  font-size: 1rem;
  line-height: 2.2rem;
  margin-bottom: 2.2rem;
  text-align: justify;
}
section{
  margin-top: 11rem;
  &.section-last{
    margin-bottom: 11rem;
  }
}
.container{
  position: relative;
}

.hoverable{
  &:hover{
    opacity: .75;
  }
}

img{
  width: 100%;
  border-radius: 2.5rem;
}

header {
  z-index: 1;
  .hero-banner {
    position: absolute;
    left: 50%;
    top: 10rem;
    transform: translateX(-50%);
    height: 30rem;
  }
  .hero-bg {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 35rem;
  }
  &:before , &:after{
    position: absolute;
    content: url(../images/hero-bg.svg);
    width: 50%;
    display: block;
    top: 0;
    z-index: -1;
  }
  &:before{
    transform: scaleX(-1);
  }
  &:after{
    left: 0;
  }
  > div {
    padding-top: 150px;
    &:before{
      content: url(../images/header-pattern-right.svg);
      position: absolute;
      right: 100px;
      top: 75px;
      width: 85px;
      height: 85px;
      display: flex;
    }
    &:after{
      content: url(../images/header-pattern-left.svg);
      position: absolute;
      left: 100px;
      top: 250px;
      width: 85px;
      height: 85px;
      display: flex;
    }
  }
}


.dk-striped-table{
  tr:first-child {
    position: relative;
    &:after{
      position: absolute;
      content: url("../images/table-arrow.svg");
      width: 100px;
      height: 25px;
      top: calc(50% - 14px);
      left: calc(57% - 50px);
    }
  }
}

.dk-headings{
  position: relative;
  margin-bottom: 60px;
  &.type-1{
    margin-top: 80px;
    &:before{
      position: absolute;
      content: "";
      background: url("../images/dk-headings-1.svg");
      background-repeat: no-repeat;
      background-size: contain;
      width: 100px;
      height: 140px;
      right: 0;
      top: -68px;
    }
  }
}
