body{
  color: var(--bs-text-color);
}
a{
  text-decoration: none;
}
h4 {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.5;
}
p{
  font-weight: normal;
  font-size: 1rem;
  line-height: 2.2rem;
  margin-bottom: 2.2rem;
  text-align: justify;
}
.shadow{
  -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.1) !important;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.1) !important;
}
section{
  margin-top: 11rem;
  &.section-last{
    margin-bottom: 11rem;
  }
}
.container{
  position: relative;
}

.hoverable{
  &:hover{
    opacity: .75;
  }
}

img,video{
  width: 100%;
  border-radius: 2.5rem;
}

header {
  z-index: 1;
  .hero-banner {
    position: absolute;
    left: 50%;
    top: 10rem;
    transform: translateX(-50%);
    height: 30rem;
  }
  .hero-bg {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 35rem;
  }
  &:before , &:after{
    position: absolute;
    content: url(../images/hero-bg.svg);
    width: 50%;
    display: block;
    top: 0;
    z-index: -1;
  }
  &:before{
    transform: scaleX(-1);
  }
  &:after{
    left: 0;
  }
  > div {
    padding-top: 150px;
    &:before{
      content: url(../images/header-pattern-right.svg);
      position: absolute;
      right: 85px;
      top: 75px;
      width: 6.563rem;
      height: 6.563rem;
      display: flex;
    }
    &:after{
      content: url(../images/header-pattern-left.svg);
      position: absolute;
      left: 85px;
      top: 270px;
      width: 6.563rem;
      height: 6.563rem;
      display: flex;
    }
  }
}


.dk-striped-table{
  tr:first-child {
    position: relative;
    &:after{
      position: absolute;
      content: url("../images/table-arrow.svg");
      width: 100px;
      height: 25px;
      top: calc(50% - 14px);
      left: calc(57% - 50px);
    }
  }
}

.dk-headings{
  position: relative;
  margin-bottom: 60px;
  &.type-1{
    margin-top: 80px;
    &:before{
      position: absolute;
      content: "";
      background: url("../images/dk-headings-1.svg");
      background-repeat: no-repeat;
      background-size: contain;
      width: 100px;
      height: 140px;
      right: 0;
      top: -62px;
    }
  }
  &.type-column{
    &:before{
      position: absolute;
      content: "";
      background-repeat: no-repeat !important;
      background-size: contain !important;
    }
    h4{
      display: flex;
      flex-direction: column;
      font-size: 1.875rem;
      span{
        font-size: 1.25rem;
        font-weight: normal;
        color: var(--bs-text-color);
        &:first-of-type{
          margin-bottom: 1rem;
        }
        &:last-of-type{
          margin-top: 1rem;
        }
      }
    }
  }
  &.type-2{
    margin-right: 80px;
    &:before{
      background: url("../images/dk-headings-2.svg");
      width: 66px;
      height: 105px;
      right: -90px ;
      top: calc(50% - 53px)
    }
    h4{
      span{
        &:first-of-type{
          padding-right: 20px;
          &:before{
            position: absolute;
            content: "";
            background: url("../images/dk-smile.svg");
            background-repeat: no-repeat;
            background-size: contain;
            width: 11px;
            height: 22px;
            right: 0;
            top: 6px;
          }
        }
      }
    }
  }
  &.type-3{
    margin-right: 105px;
    padding-right: 30px;
    &:before{
      background: url(../images/header-pattern-left.svg);
      width: 6.563rem;
      height: 6.563rem;
      right: -6.563rem;
      top: calc(50% - 3.313rem);
    }
    h4{
      span{
        &:before{
          background-repeat: no-repeat !important;
          background-size: contain !important;
          position: absolute;
          content: "";
          background: url("../images/dk-smile.svg");
          width: 1.406rem;
          height: 2.813rem;
          right: -9.5rem;
          top: .85rem;
        }
        &:last-of-type{
          margin-top: 0;
          margin-bottom: 0;
        }
      }
    }
  }
}


.dk-land-video{
  margin-top: 18rem;
  .content{
    position: relative;
    &:before{
      position: absolute;
      content: "";
      background: url("../images/video-box-shape.svg");
      background-repeat: no-repeat;
      background-size: contain;
      width: 640px;
      height: 640px;
      left: 0;
      z-index: -1;
      top: -230px
    }
  }
}

.dk-land-about{
  margin-top: 18rem;
  position: relative;
  img{
    border-radius: 0;
  }
  &:before{
    position: absolute;
    content: "";
    background: url("../images/dk-bg-left.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 636px;
    height: 626px;
    left: 0;
    z-index: -1;
    top: -130px
  }
  .content:after{
    content: url(../images/header-pattern-left.svg);
    position: absolute;
    left: 0;
    bottom: -3.75rem;
    width: 6.563rem;
    height: 6.563rem;
    display: flex;
  }
}