.dk-btn {
  font-weight: normal;
  width: 17rem;
  height: 5rem;
  padding: 0.5rem;
  border-radius: 7px;
}

.dk-fill-btn {
  font-weight: normal;
  border: none;
  color: var(--bs-w-color);
  background-color: var(--bs-primary);
}

.dk-outline-btn {
  font-weight: normal;
  border: 1px solid #e0e0e2;
  color: var(--bs-text-color);
  background-color: transparent;
}
