.product-carousel {
  &-title {
    font-size: 1.5rem;
    color: #3A3A3A;
    position: relative;
    margin-bottom: 60px;
    padding: 0 calc(var(--bs-gutter-x) / 2);
    &:before{
      position: absolute;
      right: calc(var(--bs-gutter-x) / 2);
      top: 50px;
      width: 126px;
      height: 5px;
      border-radius: 5px;
      content: '';
      background: var(--bs-primary);
    }
    a{
      float: left;
      font-size: 16px;
      font-weight: normal;
      color: var(--bs-title-color);
      position: relative;
      padding-left: 25px;
      &:after{
        position: absolute;
        content: "";
        background: url("../images/arrow.svg");
        background-repeat: no-repeat;
        background-size: contain;
        width: 20px;
        height: 20px;
        left: 0;
      }
      &:hover{
        opacity: .75;
      }
    }
  }
  &-box {
    display: flex;
    width: calc(100% - var(--bs-gutter-x));
    padding: 0;
    border: 1px solid #ebebeb;
    border-top-width:2px;
    border-bottom-width:2px;
    margin: 0 calc(var(--bs-gutter-x) / 2);
    .swiper-wrapper{
      height: 100%;
    }
  }
  .product-item {
    border: 0.7px solid #ebebeb;
    border-top:none;
    border-bottom:none;
    background-color: #fff;
    transition: box-shadow .2s cubic-bezier(.4,0,1,1),transform .2s cubic-bezier(.4,0,1,1),-webkit-box-shadow .2s cubic-bezier(.4,0,1,1),-webkit-transform .2s cubic-bezier(.4,0,1,1);
    &:hover{
      -webkit-box-shadow: 0 2px 17px 0 rgba(0,0,0,.09);
      box-shadow: 0 2px 17px 0 rgba(0,0,0,.09);
      z-index: 11;
    }
    a{
      display: flex;
      flex-direction: column;
      color: var(--bs-text-color);
      padding: 20px 50px 50px 50px;
      height: 100%;
      img{
        border-radius: 0;
      }
      .title{
        font-size: .857rem;
        line-height: 1.8rem;
        margin-bottom: 40px;
      }
      .old-price , .new-price{
        text-align: left;
        margin-top: auto;
      }
      .old-price{
        color: #ACACAC;
        font-size: 1rem;
        .discount{
          background-color: #fb3449;
          font-weight: bold;
          color: #fff;
          border-radius: 20px;
          padding: 3px 9px 0 10px;
          letter-spacing: 0;
          font-size: 1.143rem;
          line-height: 2;
          margin-right: 8px;
        }
      }
      .new-price{
        font-size: 1.429rem;
        font-weight: bold;
        color: var(--bs-title-color);
        span{
          font-weight: normal;
          font-size: 0.875rem;
        }
      }
    }
  }
  .swiper-button-next,.swiper-button-prev{
    color: #a8a8a8;
    -webkit-box-shadow: 1.5px 0 4px 0 rgba(0,0,0,.15);
    box-shadow: 1.5px 0 4px 0 rgba(0,0,0,.15);
    border-radius: 0 8px 8px 0;
    width: 49px;
    height: 90px;
    position: absolute;
    top: calc(50% - 45px);
    left: 0 !important;
    &:after{
      font-size: 26px;
      color: #000;
    }
  }
  .swiper-button-prev{
    border-radius: 8px 0 0 8px;
    left: inherit !important;
    right: 0 !important;
  }
}
