.dk-table {
  width: 100%;
  border-collapse: collapse;
  tr {
    height: 6rem;
    td,th {
      text-align: center;
    }
  }
}

.dk-striped-table {

  tr:nth-child(odd) {
    td,th{
      background: linear-gradient(0deg, rgba(240,240,240,1) 0%, rgba(250,250,250,1) 100%);
    }
  }
  tr{
    &:first-child {
      td, th {
        color: #fff;
        background: linear-gradient(0deg, rgba(239, 57, 78, 1) 0%, rgba(255, 113, 129, 1) 100%) !important;
      }

      th {
        img {
          width: 1.6rem;
          height: 1.6rem;
        }
      }
    }
    td , th {
      &:first-of-type{
        border-radius: 0 10px 10px 0;
      }
      &:last-of-type{
        border-radius: 10px 0 0 10px;
      }
      img{
        width: 70px;
        border-radius: 0;
      }
    }
    &:not(&:first-child){
      td , th{
        img{
          margin-top: -15px;
          margin-left: 15px;
        }
      }
    }
  }
}

@media(max-width: 992px){
  .dk-table {
    tr {
      height: 5rem;
    }
  }
}
