@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/woff2/iranyekanwebbold.woff2") format("woff2"); /* FF39+,Chrome36+, Opera24+*/
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/woff2/iranyekanwebthin.woff2") format("woff2"); /* FF39+,Chrome36+, Opera24+*/
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/woff2/iranyekanweblight.woff2") format("woff2"); /* FF39+,Chrome36+, Opera24+*/
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/woff2/iranyekanwebregular.woff2") format("woff2"); /* FF39+,Chrome36+, Opera24+*/
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/woff2/iranyekanwebmedium.woff2") format("woff2"); /* FF39+,Chrome36+, Opera24+*/
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/woff2/iranyekanwebextrabold.woff2") format("woff2"); /* FF39+,Chrome36+, Opera24+*/
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 850;
  src: url("../fonts/woff2/iranyekanwebblack.woff2") format("woff2"); /* FF39+,Chrome36+, Opera24+*/
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/woff2/iranyekanwebextrablack.woff2") format("woff2"); /* FF39+,Chrome36+, Opera24+*/
}
