* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
}

html {
  font-size: 10px;
}

body {
  direction: rtl;
}

ul li {
  list-style-type: none;
}

a {
  display: block;
  text-decoration: none;
}
